
{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}



{% block conteudobody %}
   <div>
       <table class="table responsive-table centered">
           <thead>
               <tr>
                  <th data-field="id">Id</th>
                  <th data-field="nome">Nome</th>
                  <th data-field="mensagem">E-mail</th>
                  <th data-field="data">Telefone</th>
                  <th data-field="link">Senha</th>
               </tr>
           </thead>
           <tbody>
               {% for usuario in usuarios %}
               <tr>
                <td>{{ usuario[0] }}</td>
                <td>{{ usuario[1] }}</td>
                <td>{{ usuario[2] }}</td>
                <td>{{ usuario[3] }}</td>
                <td>{{ usuario[4] }}</td>

               </tr>
                {% endfor %}
           </tbody>
       </table>
   </div>

{% endblock %}