<!DOCTYPE html>
<html>
<head>


  {# comentário #}
  <title>
    {% block title %}{% endblock %}
    Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        nav {
          background:  #3f51b5;
        }
        .sidenav-trigger i {
          color: #fff;
          margin-top: -55px;
          display: block;
          font-size: 51px;

        }
        .w-logout{
          float: right;
          position: relative;
          margin: -50px 30px;
          color: white;
          font-size: 30px;
          cursor: pointer;
        }
    </style>
</head>
<body>
       <nav>
          <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
              <div class="background">
                <img src="{{url_for('static', filename='office.jpg')}}">

              </div>
                <a href="#user"><img class="circle" src="{{url_for('static', filename='developer.jpg')}}"></a>
                <a href="#name"><span class="white-text name">Valdir Silva</span></a>
                <a href="#email"><span class="white-text email">valdirpiresba@gmail.com</span></a>
            </div>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="/usuarios/profile">Meu Perfil</a></li>
            <li><a class="waves-effect" href="/solicitacao/">Criar Solicitação</a></li>
            <li><a class="waves-effect" href="/usuarios/">Cadastrar Usuário</a></li>
            <li><a class="waves-effect" href="/usuarios/listar">Usuários</a></li>
          </ul>
       </nav>
       <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <div class="w-logout">
           <i class="material-icons">power_settings_new</i>
       </div>


       {# Aqui posso criar o Bloco de conteúdo #}
       {%  block conteudobody %}
       {% endblock %}


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
      <script src="{{url_for('static', filename='js/init.js')}}"></script>

</body>
</html>
